@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css);
/* 
	use Roboto or Lato for main website font, use fira code only for console looking stuff
*/

html, body {
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
  	font-family: "Lato", sans-serif;
}

h1 {
    font-family: 'Fira Code';
    font-weight: 500;
    font-size: 7.5em;
    padding-top: 0.375em;
    height: 0.875em;
}

h2 {
    font-size: 3.5em;
}

ul {
    margin: auto;
    padding: 0;
}

ul > li {
	display: inline-block;
    padding: 1em;
}

a {
	color: inherit;
}

i {
    transition: all 0.375s;
    color: lightslategray;
}

.flex {
    text-align: center;
}

#phone, #github, #facebook, #linkedin, #email, #resume {
    font-size: 2em;
}

#phone:hover {
    transition: 0.25s color;
    color: #618bc9;
}

#github:hover {
    transition: 0.25s color;
    color: #333333;
}

#linkedin:hover {
    transition: 0.25s color;
    color: #0077b5;
}

#email:hover, #resume:hover {
    transition: 0.25s color;
    color: darkslategray;
}
