@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css);
/* 
	use Roboto or Lato for main website font, use fira code only for console looking stuff
*/

html, body {
    background-color: #fdfdfd;
  	font-family: 'Lato', sans-serif;
}

ul li {
	display: inline-block;
	padding: 1em;
}

a {
	color: inherit;
}

i {
    transition: 0.375s color;
    color: darkslategray;
}

.header {
    margin: auto;
    width: 50$;
}

#phone, #github, #facebook, #linkedin, #email, #resume {
    font-size: 1.75em;
}

#phone:hover {
    transition: 0.375s color;
    color: #8cbed6;
}

#github:hover {
    transition: 0.375s color;
    color: #333333;
}

#linkedin:hover {
    transition: 0.375s color;
    color: #0077b5;
}