@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css);

html, body {
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
  	font-family: "Lato", sans-serif;
    color: #191919;
}

h1 {
    color: #fdfdfd;
    font-family: 'Fira Code';
    font-weight: 500;
    font-size: 7.5em;
    height: 0.75em;
}

h2 {
    font-size: 3.5em;
}

span {
    border-radius: 50%;
    padding: 0.25em;
    background: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    z-index: -1;
    animation: animatedgradient 7.5s ease-in-out alternate infinite;
    background-size: 500% 500%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

ul {
    margin: auto;
    padding: 0;
}

ul > li {
	display: inline-block;
    padding: 1em;
}

a {
	color: inherit;
}

i {
    transition: all 0.375s;
    color: lightslategray;
}

.container {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.flex {
    text-align: center;
}

#phone, #github, #facebook, #linkedin, #email, #resume {
    font-size: 2.375em;
}

#phone:hover {
    transition: 0.25s color;
    color: #618bc9;
}

#github:hover {
    transition: 0.25s color;
    color: #333333;
}

#linkedin:hover {
    transition: 0.25s color;
    color: #0077b5;
}

#email:hover, #resume:hover {
    transition: 0.25s color;
    color: darkslategray;
}

.fa-envelope:hover:before {
    content: "\f003";
}

.fa-file-text:hover:before {
    content: "\f0f6";
}